<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matisse">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity android:name=".ui.activity.ImageCropActivity" />
        <activity android:name=".ui.activity.SelectedPreviewActivity" />
        <activity android:name=".ui.activity.AlbumPreviewActivity" />
        <activity android:name=".ui.activity.matisse.MatisseActivity" />
    </application>
</manifest>
