<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matisse">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".ui.view.ImageCropActivity" />
    </application>
</manifest>
